basePath: /api
definitions:
  backend-go_internal_models.Message:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        type: integer
      is_read:
        type: boolean
      message:
        type: string
      name:
        type: string
      subject:
        type: string
      updated_at:
        type: string
    type: object
  backend-go_internal_utils.APIResponse:
    properties:
      data: {}
      error: {}
      message:
        type: string
      request_id:
        type: string
      status:
        type: boolean
    type: object
  internal_handlers.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Backend API for Pondok Pesantren K3 Arafah Website.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: K3 Arafah Web API
  version: "1.0"
paths:
  /contact:
    post:
      consumes:
      - application/json
      description: Submit a new message from contact form
      parameters:
      - description: Message Data
        in: body
        name: message
        required: true
        schema:
          $ref: '#/definitions/backend-go_internal_models.Message'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/backend-go_internal_utils.APIResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/backend-go_internal_utils.APIResponse'
      summary: Submit a contact message
      tags:
      - messages
  /login:
    post:
      consumes:
      - application/json
      description: Login with username and password to get JWT token
      parameters:
      - description: Login Input
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/internal_handlers.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Login admin
      tags:
      - auth
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
